<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<style>
    a {
        border : 10px color: red;
        font-size: 20px;
        fot-color: black

    }
    h1 {
    font-size: 30px;
    font-color: dark red;
    }
</style>

<div id = "content">
    <h1> {{ object.title }} </h1>
    <url>
        <li>URL:<a href="{{object.url }}">{{object.url}}</a></li>
        <li>Create Date:{{ object.create_date }}</li>
        <li>Modify Date:{{ object.modify_date }}</li>
    </url>
    <iframe src="{{object.url}}"></iframe>
</div>

</body>
</html>